* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #3a4764;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    color: white;
    font: bold;
}

.calculator {
    max-width: 60vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding: 20px;

}

.calculator_display {
    display: flex;
    justify-content: center;
    width: 100%;
    /* margin-top: 40px; */
    font-size: 20px;
    overflow-x: hidden;
    margin-bottom: 20px;
}

.calculator_display>button {
    width: 40px;
    cursor: pointer;
}

.display {
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    height: 47px;
    background-color: #182034;
    color:white;

}

.calculator_keys {
    width: 90%;
    background-color: #232c43;
    padding: 10px;
    border-radius: 5px;
}

.calculator_keys>button {
    width: 20%;
    height: 55px;
    margin-top: 10px;
    font-weight: bolder;
    font-size: larger;
    margin-left: 8px;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 6px 2px -2px gray, 0 6px 2px -2px gray;
}

.calculator_keys>input {
    width: 20%;
    height: 55px;
    margin-top: 10px;
    font-weight: bolder;
    font-size: larger;
    margin-left: 8px;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 6px 2px -2px gray, 0 6px 2px -2px gray;
}


.operators{
    background-color: #637097;
    color: white;
}
.equal{
min-width: 44%;
color: white;
background-color: #d03f2f;
}
