*{
    padding: 0;
    margin: 0;
}
body{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}
.calculator{
    max-width: 30vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    border-radius: 20px;
    /* cursor: pointer; */
    /* justify-content: center; */
    background-color: antiquewhite;
    /* align-items: center; */
}
.calculator_display{
    display: flex;
    justify-content: center;
    height: 40px;
    width: 90%;
    margin-top: 40px;
    font-size: 20px;
    overflow-x: hidden;
    margin-bottom: 20px;
}
.calculator_display > button{
    width: 40px;
    cursor: pointer;
}
.calculator_display>button:hover{
    background-color: green;
}
.calculator_keys{
    margin-left: 30px;
}
.calculator_keys > button{
    width: 50px;
    height: 30px;
    margin-top: 10px;
    margin-right: 5px;
    cursor: pointer;
}
.calculator_keys > button:hover{
    background-color: brown;
}
